<div class="alert-container">
  <div *ngIf="added_s==1" class="alert alert-success d-flex" role="alert">
    <p style="width:80%;text-align: center;">{{ticker}} bought successfully.</p>
    <button type="button" style="margin-left: auto;" (click)="cloing_cardB()" class="btn-close" aria-label="Close"></button>
  </div>
</div>

<div class="alert-container">
  <div *ngIf="sold_s==1" class="alert alert-danger d-flex" role="alert">
    <p style="width:80%;text-align: center;">{{ticker}} sold successfully.</p>
    <button type="button" style="margin-left: auto;" (click)="cloing_cardS()" class="btn-close" aria-label="Close"></button>
  </div>
</div>

<div class="container">
  <div class="content-wrapper">
    <h1 class="portfolio-header">My Portfolio</h1>
    <div class="wallet-balance">Money in the Wallet: ${{balance.toFixed(2)}}</div>
    
    <div class="container pt-2 mt-6" *ngIf="protf">
      <div *ngIf="empty==1">
        <div class="alert alert-warning" role="alert">
          Currently you don't have any stocks.
        </div>
      </div>

      <div class="card mt-4" *ngFor="let item of protf">
        <div class="card-header" (click)="setStock(item.ticker)">
          <div class="company-logo-container">
            <img *ngIf="companyProfilesMap[item.ticker]?.logo" [src]="companyProfilesMap[item.ticker]?.logo" [alt]="item.ticker + ' logo'" class="company-logo">
            <div *ngIf="!companyProfilesMap[item.ticker]?.logo" class="company-logo-placeholder">
              {{item.ticker[0]}}
            </div>
          </div>
          <div class="company-info">
            <h4 class="d-inline">{{ item.ticker }}</h4>
            <h5 class="text-secondary d-inline">{{ item.name }}</h5>
          </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col">
                            <p class="mb-0" style="font-weight: bold;" >Quantity:</p>
                        </div>
                        <div class="col">
                            <p class="mb-0 " style="font-weight: bold;" >{{ item.qnt  }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="mb-0 " style="font-weight: bold;" >Avg. Cost/Share:</p>
                        </div>
                        <div class="col">
                            <p class="mb-0 " style="font-weight: bold;" >{{ item.avg.toFixed(2) }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="mb-0 " style="font-weight: bold;" >Total Cost:</p>
                        </div>
                        <div class="col">
                            <p class="mb-0 " style="font-weight: bold;" >{{  (item.total).toFixed(2) }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col">
                            <p class="mb-0 " style="font-weight: bold;" >Change:</p>
                        </div>
                        <div class="col">
                            <p class="mb-0 " style="font-weight: bold;"  [ngClass]="item.change > 0 ? 'text-success' : item.change < 0 ? 'text-danger' : ''">
                              {{ item.change.toFixed(2) }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="mb-0 " style="font-weight: bold;" >Current Price</p>
                        </div>
                        <div class="col">
                            <p class="mb-0 " style="font-weight: bold;"  [ngClass]="item.change > 0 ? 'text-success' : item.change < 0 ? 'text-danger' : ''">
                                {{ item.c .toFixed(2) }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="mb-0 " style="font-weight: bold;" >Market Value:</p>
                        </div>
                        <div class="col">
                            <p class="mb-0" style="font-weight: bold;" [ngClass]="item.change > 0 ? 'text-success' : item.change < 0 ? 'text-danger' : ''">
                              {{ (item.qnt *  item.c).toFixed(2) }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <div class="card-footer">
            <button class="btn btn-primary" (click)="open(content1,item)">Buy</button>
            <button class="btn btn-danger" (click)="open(content2,item)">Sell</button>
        </div>
    </div>
  </div>
</div>

<div *ngIf="!protf" class="spinner-container">
  <mat-spinner diameter="38"></mat-spinner>
</div>

<ng-template #content1 let-modal>

    <!-- Modal -->
    
    <div class="modal-header d-block" style="padding: 16px;">
      <div class =  "d-flex">
      <h4 id="modal-title">{{ticker}}</h4>
      <button type="button" class="close"  aria-label="Close" (click)="closing()" (click)="modal.dismiss('Cross click')" style ="text-decoration:underline;margin-left: auto;color:blue;outline: none;border:none;background-color:transparent;">
        <span aria-hidden="true">&times;</span>
      </button><br/>
      
      </div> 
    </div>
    <div class="modal-body">
    <p style="font-size: 13px;">Current Price :{{ c.toFixed(2) }}</p>
    <p style="font-size: 13px;">Money in Wallet :{{this.balance.toFixed(2)}}</p> 
    <div class="row">
      <div class="col-sm-2">
    <span style="font-size: 13px;">Quantity :</span>
    </div>  <div class="col-sm-10">
    
      <input type="number" style="width:80%;" class="form-control"   [(ngModel)]="quantity" (input)="changeBuy( c )" name="sbar" >
    </div>
  </div>
    <p style="font-size: 13px;color:red;font-weight:bold;" *ngIf="warning==1"> Not engough money in wallet! <p></p>
  </div>
    <div class="modal-footer " >
      <div class = "container  d-flex justify-content-between " >
        <p style="width:100%"> Total : {{total.toFixed(2)}}</p>      <button type="button" style="margin-left: auto; "  class="btn btn-success" [disabled]="enable_buy==1" (click)="Add_portfolio(c)" (click)="modal.dismiss('Cross click')">Buy</button> 
    
     </div>
    </div>
    
    
    </ng-template>
  
  
    
  <ng-template #content2 let-modal>
  
    <!-- Modal -->
    
    <div class="modal-header d-block" style="padding: 16px;">
      <div class =  "d-flex">
      <h4 id="modal-title">{{ticker}}</h4>
      <button type="button" class="close"  aria-label="Close" (click)="closing()" (click)="modal.dismiss('Cross click')" style ="text-decoration:underline;margin-left: auto;color:blue;outline: none;border:none;background-color:transparent;">
        <span aria-hidden="true">&times;</span>
      </button><br/>
      
      </div> 
    </div>
    <div class="modal-body">
    <p style="font-size: 13px;">Current Price : {{ c.toFixed(2) }}</p>
    <p style="font-size: 13px;">Money in Wallet :  {{this.balance.toFixed(2)}}</p> 
    <div class="row">
      <div class="col-sm-2">
    <span style="font-size: 13px;">Quantity :</span>
    </div>  <div class="col-sm-10">
    <input type="number" style="width:80%;" class="form-control"   [(ngModel)]="quantity_s" (input)="changeSell( c )" name="sbar" ><!--style="border: none;width:80%;padding-left:0.04in;outline: none;font-size: 13px;"-->
  </div>
  </div>
    <p style="font-size: 13px;color:red;font-weight:bold;" *ngIf="warning_s==1"> You cant sell the stocks that you  dont have! <p></p>
  </div>
    <div class="modal-footer " >
      <div class = "container  d-flex justify-content-between " >
        <p style="width:100%"> Total : {{total_s.toFixed(2)}}</p>
      <button type="button" style="margin-left: auto; "   class="btn btn-success" [disabled]="enable_sell==1" (click)="sell_portfolio(c)" (click)="modal.dismiss('Cross click')">Sell</button> 
        
    
    
     </div>
    </div>
    
    
    </ng-template>
  