  

<div *ngIf="watch">

<div *ngIf="empty==1">
  <div class="alert alert-warning" role="alert" style="position:absolute;left:25%;top: 40%;width: 50%;text-align:center">
   Currently you don't have any stocks.
  </div>
  
  </div>

<!--source : https://getbootstrap.com/docs/4.0/components/card/ -->  
<div class="container">
<div style="position:absolute;left:22%;width:70%;padding-bottom:100px;">
  <p class="ms-2" style="font-size: 25px;font-weight: bold;">My Watchlist</p>
  <div class="container pt-1 mt-1">
  <div class="card mt-3 " *ngFor="let item of watch;let i = index"> <!--source : https://getbootstrap.com/docs/4.3/layout/grid/ -->  
    <div class="card-body pt-1 pb-0" ><!--source : https://getbootstrap.com/docs/4.0/components/card/ -->  
      <button type="button" style="height: 15px;width:15px;background-color:transparent;border: none;" (click)="delete(item.ticker)">
        <span >&times;</span> <!--Source : https://stackoverflow.com/questions/16834320/using-times-word-in-html-changes-to-%C3%97-->
      </button>
      <div class="row mt-2" (click)="setStock(item.ticker)">
        <div class="col-sm-6" > <!--source : https://getbootstrap.com/docs/4.3/layout/grid/ -->  
          <h5 class="card-title">{{ item.ticker }}</h5>
          <p class="card-text" >{{ item.c_name }}</p><!--source : https://getbootstrap.com/docs/4.0/components/card/ -->  
        </div>
        <div [style.color]="item.d>0?'green':'red'" class="col-sm-6">
          <h5>{{ item.c.toFixed(2) }}</h5>
          <p [style.color]="item.d>0?'green':'red'">
            <i *ngIf="item.dp <0 " class="bi bi-caret-down-fill"></i>
            <i  *ngIf="item.dp >0 " class="bi bi-caret-up-fill"></i>
            {{item.d.toFixed(2)}}( {{ item.dp.toFixed(2) }}%)
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
  
</div>
</div>

</div>

<div *ngIf="!watch;">
  <div class="text-center d-flex justify-content-center mt-5"style="position:absolute;left:50%">
      <mat-spinner diameter="38"></mat-spinner>
  </div>
</div>